<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="{% url 'boulders:index' %}">La Casita Bouldering</a>
    <button 
    class="navbar-toggler"
    type="button" 
    data-bs-toggle="collapse" 
    data-bs-target="#navbarNav" 
    aria-controls="navbarNav" 
    aria-expanded="false" 
    aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'boulders:index' %}">Boulders</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Circuits</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'users:ascents' %}">Dashboard</a>
        </li>
        {%endif%}
      </ul>
    </div>
  </div>
</nav>
  